body {
  background-color: #000;
  color: #eee;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  border-bottom: 10px dotted orange;
  padding-bottom: 5px;
}

img {
  margin: 0 auto;
  display: block;
  width: 15em;
  max-width: 100%;
}
